/* Base colors */
:root {
    --black-1: #0d0d0d;
    --black-2: #1a1a1a;
    --black-3: #262626;
    --grey-1: #4d4d4d;
    --grey-2: #808080;
    --grey-3: #b3b3b3;
    --grey-4: #d9d9d9;
    --white-1: #f2f2f2;
    --white-2: #fafafa;
    --white-3: #ffffff;
}

/* Body */
body {
    background-color: var(--black-2);
    color: var(--white-2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    color: var(--white-3);
    border-bottom: 1px solid var(--grey-2);
    padding-bottom: 5px;
    text-align: center;
}

/* Input fields */
input[type="text"] {
    background-color: var(--grey-4);
    color: var(--black-1);
    border: 1px solid var(--grey-2);
    padding: 10px;
    margin: 10px 0;
    width: 50%;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}

    input[type="text"]::placeholder {
        color: var(--grey-3);
    }

/* Buttons */
button {
    background-color: var(--grey-1);
    color: var(--white-3);
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
}

    button:hover {
        background-color: var(--grey-2);
    }

/* Slider */
.slider-group {
    margin: 20px 0;
    text-align: center;
}

input[type="range"] {
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--grey-1);
    height: 8px;
    border-radius: 5px;
    outline: none;
}

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background-color: var(--white-3);
        border-radius: 50%;
        cursor: pointer;
        border: 2px solid var(--grey-2);
        transition: background-color 0.3s;
    }

        input[type="range"]::-webkit-slider-thumb:hover {
            background-color: var(--grey-3);
        }

    input[type="range"]::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background-color: var(--white-3);
        border-radius: 50%;
        cursor: pointer;
        border: 2px solid var(--grey-2);
        transition: background-color 0.3s;
    }

        input[type="range"]::-moz-range-thumb:hover {
            background-color: var(--grey-3);
        }

    input[type="range"]::-ms-thumb {
        width: 20px;
        height: 20px;
        background-color: var(--white-3);
        border-radius: 50%;
        cursor: pointer;
        border: 2px solid var(--grey-2);
        transition: background-color 0.3s;
    }

/* List of places */
ul {
    list-style-type: none;
    padding: 0;
    max-height: calc(100vh - 100px);
}

    ul li {
        background-color: var(--black-3);
        padding: 20px;
        margin: 10px 0;
        border: 1px solid var(--grey-1);
        border-radius: 10px;
        transition: background-color 0.3s;
        display: flex;
        flex-direction: column;
    }

        ul li:hover {
            background-color: var(--black-1);
        }

/* Place Header */
.place-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.place-icon {
    margin-right: 15px;
}

.place-info {
    flex-grow: 1;
}

.place-name {
    font-size: 1.5em;
    margin: 0;
}

.place-open-status {
    font-size: 0.9em;
    color: var(--grey-3);
}

/* Rating and Address */
.place-rating, .place-address {
    margin: 10px 0;
    font-size: 1.1em;
}

.rating {
    font-weight: bold;
}

.reviews {
    color: var(--grey-3);
    margin-left: 5px;
}

/* Place Photos */
.place-photo {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 15px;
    border: 1px solid var(--grey-1);
    margin-left: auto;
    margin-right: auto;
}

/* Links */
a {
    color: var(--white-3);
    text-decoration: none;
    transition: color 0.3s;
}

    a:hover {
        color: var(--grey-3);
    }

/* Containers */
.container {
    background-color: var(--black-2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--black-1);
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    max-height: 100vh;
    overflow-y: auto;
    text-align: center;
    width: 100%;
}

.install-button {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 14px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}


    .install-button:hover {
        text-decoration: underline;
    }

@media only screen and (max-width: 600px) {
    .install-button {
        right: 5px;
        font-size: 12px;
    }
}