<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="css/WheresTheBeer.styles.css" />
    <link rel="stylesheet" href="WheresTheBeer.styles.css" />
    <link rel="manifest" href="/manifest.json" />

    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body>
    <Routes @rendermode="InteractiveAuto" />

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/service-worker.js')
                .then(function (registration) {
                    console.log('Service Worker registered with scope:', registration.scope);
                }).catch(function (error) {
                    console.log('Service Worker registration failed:', error);
                });
        }
    </script>

    <script src="js/Geolocation.js"></script>
    <script src="js/pwa.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
